* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;   /* essa função serve para tirar: " ° "   */
}

body {
    /*display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffffff;
    padding: 0 35px;*/
    background-color: #000000;
    color: #fff;
    font-size: 16px;
    

}

.Midia icons{
    width: 100px;
    height: auto;

}

header {
    position: fixed;
    width: 95vw;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 1fr 600px;
    gap: 50px;

    & img{
        width: 20%;
    }

    & nav {
        & ul{
            display: grid;
            grid-template-columns: repeat(5, 250px);
        }
    }
    
    

}  

.copyright{
   margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center; 
}





/*Estiliza a galeria de fotos*/
.wrapper{
    max-width: 1200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}  
.wrapper i{ 
    top: 50%;
    height: 45px;
    width: 45px;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    text-align: center;
    line-height: 46px;
    background: #94a1b3;
    border-radius: 50%;
    transform: translateY(-50%);
}
.wrapper i:first-child{
    left: -23px;
    display: none;
}
.wrapper i:last-child{
    right: -23px;
}
.wrapper .carrossel{
    font-size: 0;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}
.carrossel.dragging{
    cursor: grab;
    scroll-behavior: auto;
}
.carrossel.dragging img{
    pointer-events: none;
}
.carrossel img{
    height: 340px;
    object-fit: cover;
    margin-left: 14px;
    width: calc(100% / 3);
}
.carrossel img:first-child{
    margin-left: 0px;
}

/*Responsividade da galeria*/
@media screen and (max-width: 900px) {
    .carrossel img{
        width: calc(100% / 2);
    }
}
@media screen and (max-width: 550px) {
    .carrossel img{
        width: 100%;
    }
}
section{
    background-image: repeating-radial-gradient(#000, #717171);   /* cor da pagina, ele mescla duas cores para o fundo*/
    height: 100vh; /* para preencher a tela toda*/
    position: relative;
}